includes:
    - phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - src
        - tests

    ignoreErrors:
        -
            message: '#^Access to an undefined property Spatie\\LaravelRay\\RayServiceProvider\:\:\$items\.$#'
            path: src/RayServiceProvider.php
        -
            message: '#^Access to an undefined property Spatie\\LaravelRay\\RayServiceProvider\:\:\$value\.$#'
            path: src/RayServiceProvider.php
